fastapi
uvicorn
sqlalchemy
psycopg2-binary
alembic
python-dotenv
python-jose
passlib[bcrypt]
python-multipart
pydantic
email-validator

# Notice I used:

# psycopg[binary]

# instead of

# psycopg2-binary

# Reason: psycopg (v3) is the modern PostgreSQL driver and is the recommended choice for new FastAPI + SQLAlchemy projects.